:root {
    --salmon: #8B5CF6;
    --black: #000;
    --light: #fff;
    --cyan:  #F3F4F6;
    --dcyan: #1F2937;
    --dsalmon: #374151;
    --purple: #8B5CF6;
    --dpurple: #6D28D9;
}


body {
    transition: background-color ease-out 0.5s;
}

*::selection {
    background-color: var(--salmon);
}


body[theme="black"] {
    background-color: var(--black);
    
}

body[theme="black"] .section {
    color: var(--light);
}
body[theme="white"] {
    background-color: var(--light);
    
}

body[theme="white"] .section {
    color: var(--black);
}

body[theme="cyan"] {
    background-color: var(--purple);
    
}

body[theme="cyan"] .section {
    color: var(--light);
}

body[theme="salmon"] {
    background-color: var(--light);  
}

body[theme="salmon"] .section {
    color: var(--black);
}

@font-face {
    font-family: 'Sansita';
    src: url('./assets/fonts/font1.ttf');
}

@font-face {
    font-family: 'SansitaReg';
    src: url('./assets/fonts/font2.ttf');
}

@font-face {
    font-family: 'SansitaBold';
    src: url('./assets/fonts/font3.ttf');
}